.top{
    font-family:  'Times New Roman', Georgia,serif;
   padding-right: 15px;
    float: left;
  font-size: 13px;
}
h1,h2,h3,h4,h5{
    letter-spacing:5px;
}
.nav h2{
        display: inline;
        margin: 10px;
      padding-left:15px;
      font-size: 19px;
      float:inline-end;
      }
header{
        width: 1500px;
        height:600px;
    }
.bottomleft{
      font-size: 16px;
      margin: 10px;
      box-sizing: inherit;
      display: block;
      color: rgb(104, 104, 104);
    }
.img2{
      width: 504px;
      height: 103px;
      border-radius:4px;
      margin: 230px;
    }
    .about{
        width: 300px;
        padding:10px;
        line-height: 1.5;
        position: absolute;
        right: 1000px;
        margin: -800px;
        text-align: center;
        font-size: 17px;
    }
    hr{
      margin: 100px;
      overflow: visible;
      border-top:2px solid;
      width: 1000px;
    }
    .menu h1{
      font-size: 36px;
    }
    .menu h4{
      font-size: 20px;
    }
    .menu p{
      color: rgb(109, 107, 107);
      font-size: 17px;
    }
  footer{
    width:200px;
        padding:10px;
        position: absolute;
        right: 1200px;
        margin: -750px;
  }
